<div class="flex flex-col"> 
	<h2 class="text-4xl "> Education </h2> 

	<ul class="text-lg">
		
		<li>Web application development </br> I.E.S Zaidin Vergeles (2026) </li>
		<li>High School graduate in Social Sciencies </br> I.E.S Mariana Pineda (2023)<li>
		
	</ul>

	<h2 class="text-4xl mt-20"> Services </h2>
	
	<ul class="text-lg">
		<li>Web development</li>
		<li>App development</li>
	</ul>
</div> 
