<div class="flex flex-col justify-center items-center mt-[10vh] mb-20">

	<h1 class="text-4xl italic" > Work Experience </h1> 

	<div class="flex flex-row gap-[3vw] mt-10">

		<div class="rounded-xl p-15 bg-black backdrop-blur-lg " > <h3 class="text-xl">Taco bell<h3> <p> Team leader </br> 01-05-2025 - Currently </p> </div>
		<div class="rounded-xl p-15 bg-black backdrop-blur-lg " > <h3 class="text-xl">Taco bell<h3> <p> Chef and customer service </br>  13-11-2023 - 01-05-2025 </p> </div>
		<div class="rounded-xl p-15 bg-black backdrop-blur-lg " > <h3 class="text-xl">Atletico Monachil<h3> <p> Football trainer </br> 23-08-2021 - 10-01-2023 </p> </div>
		<div class="rounded-xl p-15 bg-black backdrop-blur-lg " > <h3 class="text-xl">Aceitunas Granada S.L<h3> <p> Warehouse leader </br> 15-06-2023 - 15-08-2026 </p> </div>

	</div>

</div>


