<header class=" flex justify-between items-center py-3 w-80 text-xl top-4">

          <nav class=" flex flex-row gap-x-10">

                    <a href="/">Home</a>
                    <a href="/about">About me</a>
                    <a href="/projects">Projects</a>
                    <a href="/contact">Contact</a>

          </nav>

</header>
