<header class="w-full flex justify-around items-center  text-2xl">

	<nav class="flex flex-row gap-x-15 items-center">

		<a href="/projects">Projects</a>
		<a href="/" class="text-3xl">Home</a>
		<a href="/about">About me</a>

	</nav>

</header>
