---
const imagenPersAlt = "Ibrahim Thiam";
import Availability from "../components/Availability.astro";
---

<div class="flex flex-row">

    <img src="@/assets/cvph2.jpg" alt={imagenPersAlt}>

    <a href="">
        <div class="flex flex-col">
            <Availability>Disponibilidad inmediata</Availability>
        </div>
    </a>
</div>