<div class="flex flex-col"> 
	<h2 class="text-4xl "> Another Skills </h2> 

	<ul class= "text-lg">
		<li>Linux</li>
		<li>Bash</li>
		<li>Git</li>
		<li>Deployment</li>
		<li>Team collaboration</li>
		<li>Adaptability</li>
		<li>Problem solving</li>
		<li>Communication<li>
		
	</ul>

	<h2 class="text-4xl mt-20"> Languages </h2>
	
	<ul class="text-lg ">
		<li>Spanish - Native</li>
		<li>English - Advance</li>
		<li>French - Basic</li>
	</ul>
</div> 
