---
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="en">

	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ibradev</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">

	</head>

	<body>
		
		<slot />

  	</body>
</html>

<style is:global>

		:root {
			
			color-scheme: light dark;
		
		}

		html {
	
			font-family: Smooch Sans;
			font-weight: 700;
			scroll-behavior: smooth;
		
		}

		body {
			
			display: flex;
			flex-direction: column;
			align-items: center;
			min-height: 100vh;

		}

	
</style>
